@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  font-family: "IBM Plex Mono", monospace;
  box-sizing: border-box;
}

body {
  background: #080808;
  margin: 0;
  padding: 0;
}

.grid-padre {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat 3, 1fr;
}
.grid-padre .grid-1 {
  grid-column: 1/6;
  grid-row: 1/1;
}
.grid-padre .grid-2 {
  grid-column: 1/6;
  grid-row: 2/3;
}
.grid-padre .grid-3 {
  grid-column: 1/6;
  grid-row: 3/3;
}

@media (min-width: 1024px) {
  .grid-1 .mi-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    justify-self: center;
    background-color: #1B1B1B;
    border-radius: 0rem 0rem 1rem 1rem;
    width: 60rem;
    padding: 1%;
  }
  .grid-1 .mi-nav div {
    display: flex;
    flex-direction: row;
    gap: 8rem;
  }
  .grid-1 .mi-nav a {
    color: #9C9C9C;
  }
  .grid-1 .mi-nav .custom-hover:hover {
    color: white;
  }
}
@media (min-width: 1024px) {
  .grid-2 .main-sobre-mi {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    margin: 12% 20% 8% 20%;
  }
  .grid-2 .main-sobre-mi .foto-sobre-mi {
    box-shadow: 0 0px 150px -20px #e81cff;
    width: 15rem;
    height: 15rem;
    border-radius: 10rem;
  }
  .grid-2 .main-sobre-mi .titulo-sobre-mi {
    color: white;
    font-weight: bold;
    font-size: 2.8rem;
  }
  .grid-2 .main-sobre-mi .parrafo-sobre-mi {
    color: #9C9C9C;
    font-size: 1.2rem;
  }
  .grid-2 .main-sobre-mi .div-sobre-mi {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
@media (min-width: 1024px) {
  .grid-2 {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    /* From Uiverse.io by gharsh11032000 */
  }
  .grid-2 .div-titulo .titulo-habilidades {
    color: white;
  }
  .grid-2 .cards-habilidades {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }
  .grid-2 img {
    width: 8.5em;
    align-self: center;
  }
  .grid-2 .card {
    position: relative;
    width: 190px;
    height: 254px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
  }
  .grid-2 .card::before {
    content: "";
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 200px;
    height: 264px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .grid-2 .card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  .grid-2 .heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
  }
  .grid-2 .card p:not(.heading) {
    font-size: 1.5em;
    text-align: center;
  }
  .grid-2 .card p:last-child {
    color: #e81cff;
    font-weight: 600;
  }
  .grid-2 .card:hover::after {
    filter: blur(30px);
  }
  .grid-2 .card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  }
}
.grid-3 footer {
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 4rem;
  margin-bottom: 5rem;
}
.grid-3 footer .logos {
  width: 2rem;
  transition: all 0.3s ease;
}
.grid-3 footer .logos:hover {
  width: 2.5rem;
  transition: all 0.3s ease;
}

@media (min-width: 1024px) {
  .grid2 {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
  }
  .grid2 .cards {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }
  .grid2 .div-titulo .titulo-habilidades {
    color: white;
  }
  .grid2 .logo-facu {
    width: 18em;
  }
  .grid2 .logo-coder {
    width: 19.2em;
  }
  .grid2 .card {
    justify-self: center;
    display: flex;
    padding: 20px;
    width: 330px;
    min-height: 370px;
    border-radius: 20px;
    background: #131313;
    box-shadow: 5px 5px 6px rgba(232, 28, 255, 0.5215686275), -5px -5px 6px rgba(232, 28, 255, 0.5215686275);
    transition: 0.4s;
  }
  .grid2 .card:hover {
    translate: 0 -10px;
  }
  .grid2 .card-title {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    margin: 15px 0 0 10px;
  }
  .grid2 .card-image {
    min-height: 170px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: inset 8px 8px 10px #c3c3c3, inset -8px -8px 10px #cfcfcf;
    display: flex;
    align-items: center;
  }
  .grid2 .card-body {
    margin: 13px 0 0 10px;
    color: #636363;
    font-size: 15px;
  }
  .grid2 .footer {
    float: right;
    margin: 28px 0 0 18px;
    font-size: 13px;
    color: #636363;
  }
  .grid2 .by-name {
    font-weight: 700;
  }
}

/*# sourceMappingURL=style.css.map */
