@import "variables";

.grid-3 {
    footer {
        display: flex;
        flex-direction: row;
        justify-self: center;
        gap: 4rem;
        margin-bottom: 5rem;
        .logos {
            width: 2rem;
            transition: all .3s ease;
        }
        .logos:hover{
            width: 2.5rem;
            transition: all .3s ease;
        }
    }
}
