@import "variables";
@media(min-width: 1024px) {
    .grid-1 {
    .mi-nav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1; 
        justify-self: center;
        background-color: $fondo-nav;
        border-radius: 0rem 0rem 1rem 1rem;
        width: 60rem;
        padding: 1%;
        div {
            display: flex;
            flex-direction: row;
            gap: 8rem;
        }
        a {
            color: $gris-color;
        }
        .custom-hover:hover {
            color: #ffff;
        }
    }   
}
}


